[Unit]
Description=Create user and home directory
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/create-user.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
